<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="~/css/modal.css">
    <link rel="stylesheet" href="~/css/site.css">

    @RenderSection("Styles", required: false)
</head>
<body>
    @Html.Partial("_AskQuestionModal")

        <!-- Navigation bar, logo, etc. -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link" })
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <form action="@Url.Action("Logout", "Account")" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-link nav-link">Logout</button>
                        </form>
                    </li>
                }
                <!-- Add other navigation links as needed -->
                <li class="nav-item">
                    <a href="@Url.Action("FaqList", "Faq")" class="nav-link">FAQ</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <footer class="footer fixed-bottom">
        <!-- Footer content -->
    </footer>

    <!-- jQuery and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
