@using GptWeb.Models
@using GptWeb.ViewModels
@model HomeViewModel

@{
    ViewBag.Title = "Home";
}

<h1>@Model.WelcomeMessage</h1>

@* <!-- Link to the Question page -->
<p>@Html.ActionLink(" Question", "Question", "Chat")</p> *@

<table class="table">
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>DateAsked</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserPrompts)
        {
            <tr>
                <td>@item.Question</td>
                <td>@item.Answer</td>
                <td>@item.DateAsked</td>
            </tr>
        }
    </tbody>
</table>

